/* Layout */
body {
  height: 100vh;
  display: grid;
  grid: 1fr 6fr / 1fr 5fr;
  grid-template-areas:
    "nav header"
    "nav main"
  ;
}

header,
nav,
main {
  padding: 2rem;
}

header {
  grid-area: header;
  display: grid;
  grid: 1fr 1fr / 2fr 1fr;
}

nav {
  grid-area: nav;
  display: flex;
  flex-flow: column nowrap;
  gap: 4rem;
}

nav section {
  display: grid;
  gap: 0.5em;
}

main {
  grid-area: main;
  display: grid;
  grid: 1fr 1fr / 3fr 1fr;
}
